{% extends 'apps/base.html' %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>{% trans 'Contact Us' %}</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'base_dashboard_view' %}">{% trans 'About_Us_contact' %}</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">{% trans 'Contact_Us_contact' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Contact Us -->
    <section class="contact-us section">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-us-left">
                            <!--Start Google-map -->
                            <div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7198.54914263956!2d69.38538168260472!3d41.35988339288443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef6aeaf0744f7%3A0x208ed26230b56d52!2s24%2C%20Tashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1718965679860!5m2!1sen!2s"
                                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <!--/End Google-map -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-us-form">
                            <h2>{% trans 'Contact With Us' %}</h2>
                            <p>{% trans 'If you have any questions please fell free to contact with us.' %}</p>
                            <!-- Form -->
                            <form class="form" method="post" action="{% url 'contact_with_us_view' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="{% trans 'Name' %}" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input style="text-transform: none" type="email" name="email"
                                                   placeholder="{% trans 'Email' %}" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input style="text-transform: none" type="number" name="phone"
                                                   placeholder="{% trans 'Phone' %}" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input style="text-transform: none" type="text" name="subject"
                                                   placeholder="{% trans 'Subject' %}" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea style="text-transform: none" name="message"
                                                      placeholder="{% trans 'Your Message' %}" required="">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class=" col-12">
                                        <div class="form-group login-btn">
                                            <button class="btn" type="submit">{% trans 'Send' %}</button>
                                        </div>
                                        <div class="checkbox">
                                            <label class="checkbox-inline" for="2">
                                                <input name="news" id="2" type="checkbox">
                                                {% trans 'Do you want to subscribe our Newsletter?' %}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/ End Form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-ui-call"></i>
                            <div class="content">
                                <h3>+99871-261-53-08</h3>
                                <p>nur.07@mail.ru</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont-google-map"></i>
                            <div class="content">
                                <h3>{% trans 'Uzbekistan, Tashkent, Mirzo-Ulugbek dt, TTZ-4,' %}</h3>
                                <p>{% trans 'st. YUZRABOT, 24' %}</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-wall-clock"></i>
                            <div class="content">
                                <h3>{% trans 'Mon - Sat:' %}</h3>
                                <h3>{% trans '8am - 5pm' %}</h3>
                                <p>{% trans 'Sunday Closed' %}</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Contact Us -->
{% endblock %}