{% extends 'apps/base.html' %}
{% load static %}
{% load i18n %}
{% block main_content %}
    <style>
        .customui:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 400%;
            background: #fff;
            opacity: 0.8;
        }
    </style>
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>{% trans 'Partners' %}</h2>
                        <ul class="bread-list">
                            <li><a href="{% url 'base_dashboard_view' %}">{% trans 'Home' %}</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">{% trans 'Partners' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start clients -->
    <div class="clients overlay customui">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="owl-carousel clients-slider">
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_1.png' %}" alt="#">
                        </div>
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_2.png' %}" alt="#">
                        </div>
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_3.png' %}" alt="#">
                        </div>
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_4.png' %}" alt="#">
                        </div>
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_5.png' %}" alt="#">
                        </div>
                        <div class="single-clients" style="width:240px">
                            <img src="{% static 'img/partner_6.png' %}" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--/Ens clients -->

{% endblock %}